
@media only screen and (max-width: 768px){
  body .header-wrap{
    padding:0;
    width: 100%;
    height: auto;
  }
  body .header-wrap .head{
    width: 100%;
    height: 73px;
    padding: 27px 0 22px;
  }
  .header-wrap .head .ÉCLAVOUR-logo{
    width: 20%;
    top: 27px;
  }
  .header-wrap .head .ÉCLAVOUR-name-logo-wrap{
    height: 24px;
  }
  .header-wrap .head .ÉCLAVOUR-name-logo-wrap .ÉCLAVOUR-name-logo{
    width: 68px;
    height: 22px;
    margin-top: -11px;
    margin-left: -34px;
  }
  .header-wrap .head .contact-list{
    padding:0;
    width: 20%;
    height: 24px;
    top: 27px;
  }
  .header-wrap .contact-list .show-title-list-icon{
    position: absolute;
    display: block;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-28%, -50%);
  }
  .header-wrap .contact-list .show-title-list-icon .icon-line{
    width: 70%;
    padding-top: 10%;
    background-color: #646464;
    margin-bottom: 16%;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
  .header-wrap .contact-list .show-title-list-icon.close-status{
    /*padding-top:20%;*/
  }
  .header-wrap .contact-list .show-title-list-icon.close-status .icon-line{
    width: 75.5%;;
    /*position: absolute;*/
  }
  .header-wrap .contact-list .show-title-list-icon.close-status .line1{
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
  }
  .header-wrap .contact-list .show-title-list-icon.close-status .line2{
    opacity: 0;
  }
  .header-wrap .contact-list .show-title-list-icon.close-status .line3{
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
  }
  .header-wrap .head .contact-list .contact-item{
    display: none;
  }
  .header-wrap .header-title-list-wrap{
    width: 100%;
    height: 60px;
    transition: all .3s ease;
    padding:0;
    overflow: hidden;
    position: absolute;
    background-color: rgba(255, 255, 255, .3);
  }
  .header-wrap .header-title-list-wrap.hidden{
    height:0;
  }
  .header-wrap .header-title-list-wrap .header-title-list{
    top: 20%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    transform: translateX(-50%);
  }
  .header-wrap .header-title-list-wrap .header-title-item{
    margin-right: 1%;
    height: 30px;
    line-height: 30px;
  }

  .header-wrap .head .ÉCLAVOUR-logo{
    height: 24px;
  }

  .header-wrap .head .ÉCLAVOUR-logo img{
    width: 12px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -6px;
  }
}


.header-title-item:hover{
  opacity: .5;
}
.contact-item:hover{
  opacity: .5;
  /*background-color: rgba(255, 255, 255, .5);*/
}
.header-wrap{
  height: 180px;
  padding: 0 100px;
  position:relative;
  max-width: 1055px;
  z-index: 1000;
  margin: 0 auto;
}

.header-wrap .head{
  max-width: 1055px;
  height: 123px;
  padding-top:64px;
  padding-bottom: 19px;
  box-sizing:border-box;
  border-bottom: 1px dotted #222222;
  margin: 0 auto;
  position:relative;
}
.head .ÉCLAVOUR-logo{
  /*float:left;*/
  top:64px;
  left: 0;
  position:absolute;
  width: 120px;
  height: 40px;
  border-right: 1px dotted #222222;
  z-index: 20;
  /*position: relative;*/
}
.head .ÉCLAVOUR-logo img{
  width: 24px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -12px;
}
.head .ÉCLAVOUR-name-logo-wrap{
  /*float: left;*/
  width: 100%;
  height: 40px;
  position: relative;
}
.head .ÉCLAVOUR-name-logo-wrap .ÉCLAVOUR-name-logo{
  width:114px;
  height: 35px;
  display: block;
  position: absolute;
  top:50%;
  left: 50%;
  margin-top: -17px;
  margin-left: -57px;
  background: url("../style/images/logo-eclavour.svg") center top no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  text-indent: -1000000px;
}
.contact-list{
  /*float: right;*/
  position:absolute;
  top:64px;
  right: 0;
  width: 120px;
  height: 40px;
  padding-left: 29px;
  padding-top: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-left: 1px dotted #222222;
}
.contact-list .show-title-list-icon{
  display: none;
}
.contact-item{
  width:24px;
  height: 24px;
  margin-left: -2px;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: 18px 18px;
  background-size: 18px 18px;
  float: left;
  cursor: pointer;
}
.ins{
  /*background-image: url("../style/images/icon-ins.svg");*/
}
.weibo{
  /*background-image: url("../style/images/icon-weibo.svg");*/
}
.wechat{
  background-image: url("../style/images/icon-wechat.svg");
  position: relative;
}
.header-wrap .wechat-code-wrap.hide-wechat-code{
  display: none;
}
.header-wrap .wechat-code-wrap{
  opacity: 1;
  position: absolute;
  display: block;
  width: 144px;
  height: 168px;
  background-color: #fff;
  top: 40px;
  left: 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,.2);
}
.header-wrap .wechat-code-wrap img{
  width:104px;
  height: 104px;
  margin: 10px auto 8px;
}
.header-wrap .wechat-code-wrap .wechat-info{
  font-size: 12px;
  color: #2F2F2F;
  text-align: center;
  line-height: 16px;
}
/*.email{*/
/*background-image: url("");*/
/*}*/
.header-title-list-wrap{
  max-width: 1055px;
  position:relative;
  padding:23px 0;
  margin: 0 auto;
}
.header-title-list-wrap .header-title-list{
  position: absolute;
  left: 50%;
  transform: translate(-45%, 0);
  /*margin-left: -169px;*/
}
.header-wrap .header-title-list{
  width: 480px;
  overflow: hidden;
}
.header-title-list-wrap .header-title-item{
  float: left;
  margin-right: 84px;
  font-size: 14px;
  line-height: 16px;
}
.header-title-list-wrap .header-title-item:last-child{
  margin-right: 0;
}
.header-title-list-wrap .header-title-item a{
  color:#2F2F2F;
}
.header-title-list-wrap .header-title-item:last-child{
  margin: 0;
}